body {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url('images /pexels-ruvim-miksanskiy-1438761.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding-top: 100px;
    padding-bottom: 100px;  
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top:200px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .weather_title{
    font-family: 'Dosis', sans-serif;
    text-align:center;
    font-size:30px;
    padding-bottom: 20px;
  }

  .saved_title{
    font-family: 'Dosis', sans-serif;
    text-align:center;
    font-size:30px;
    padding-top: 20px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .weather-info {
    margin-left: 10px;
    margin-top: 20px;
    
  }
  
  .weather-icon {
    width: 100px;
    height: 100px;
    float: right;
  }

  .image{
    padding-left: 100px;
  }

  .button-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .save-button {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    
    /* Add some padding and adjust other styles for better appearance */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
  input[type="text"] {
    font-family: 'Dosis', sans-serif;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  button {
    font-family: 'Dosis', sans-serif;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    cursor: pointer;
  }


